In [14]:


import pandas as pd 
 
import matplotlib.pyplot as plt 
import numpy as np 

df = pd.read_csv("../data/Advertising.csv", index_col=0)
df.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

In [16]:
# 200 samples - each row is a sample, each sample is a point
df.shape

(200, 4)

In [17]:
X, y = df.drop("Sales", axis = "columns"), df["Sales"]

# X matrix - feature matrix
# each column is a feature
# TV -> x1, Radio -> x2, Newspaper -> x3
X.head()

      TV  Radio  Newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [18]:
# vector of labels - the variable that we want to predict, the answers
y[:5]

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: Sales, dtype: float64

# Multiple linear regression

In [19]:
model_polynomial = PolynomialFeatures(3, include_bias = false)
poly_features = model_polynomial.fit_transform(X)
poly_features.shape

NameError: name 'PolynomialFeatures' is not defined

# Ridge regularssaion
## Ridge-l2

In [ ]:
from sklearn.linear_model import RidgeCV


model_rige_CV = RidgeCV(alphas=[0.00001, 0.001, 0.01, 0.5,1,5,10], scoring="neg
_mean_squared_error")

model_ridge_CV.fit

# LassoCV

In [ ]:
from sklearn.linear_model import LassoCV
model_lasso_CV = LassoCV(eps = 0.001, n_alphas=100, max_iter=int(1e4), cv=5)

model_lassoCV.fit(scaled_X_train, y_train)
print(f"alpha = {model_lassoCV.alpha_}")

y_pred = model_lassoCV.predict(scaled_X_test)

np.sqrt(mean_squared_error(y_test, y_pred)), mean_absolute_error(y_test, y_pred)

 = LassoCV